<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{nav.html :: navbar}"></div>
<div th:each="s : ${sales}">
    <p>개수</p>
    <p th:text="${s.count}"></p>
    <p>가격</p>
    <p th:text="${s.price}"></p>
    <p>상품 이름</p>
    <p th:text="${s.title}"></p>
    <p>구매자</p>
    <p th:text="${s.displayName}"></p>

</div>
<div th:if="${totalPage}">
        <span th:each="p : ${#numbers.sequence(0,totalPage)}">
            <a th:href="@{|/list/${p}|}" th:text="${p+1}"></a>
        </span>
</div>
</body>
</html>