<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, member-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
<div th:replace="~{nav.html :: navbar}"></div>
<form action="/add" method="post">
    <input type="text" name="title">
    <input type="text" name="price">
    <input type="hidden" name="img">
    <button type="submit">전송</button>
</form>
<input type="file" onchange="getUrl(this)">
<img src="" alt="">
<script>
    function getUrl(e) {
        let name = encodeURIComponent(e.files[0].name);
        fetch('/presigned-url?filename='+name)
            .then(response => response.text())
            .then(presignedUrl => {
                return fetch(presignedUrl, {
                    method: 'PUT',
                    body: e.files[0]
                })
                    .then(result => {
                        if (result.ok) {
                            let img = presignedUrl.split('?')[0];
                            document.querySelector('img').src = img;
                            document.querySelector('input[name = "img"]').value = img;
                        }else {
                            throw new Error('File upload failed');
                        }
                    });

            }).catch(error => {
            console.error('Error:', error);
        });
    }
</script>
</body>
</html>