@font-face {
    font-family: '커스텀 폰트';
    font-weight: 1000;
    src: url(../font/NanumSquareR.woff);
}

body{
    margin: 0px;
    font-family: 커스텀 폰트;
}
div,input, textarea,button {
    box-sizing: border-box;
}

.profile{
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.title{
    text-align: center; font-size: 16px;
}
.content{
    text-align: center;
}
.box{
    width: 200px;
    height: 100px;
    background-color: blanchedalmond;
    margin-left: 10px;
    padding: 40px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 10px;
    box-shadow: 5px 5px 5px 5px gray;
}

.container{
    width: 800px;
    margin: auto;
}

.header{
    width: 100%;
    height: 50px;
    background-color: aquamarine;
}
.left-menu{
    width: 20%;
    height: 400px;
    background-color: cornflowerblue;
    /* float: left; */
    display: inline-block;
}

.right{
    width: 80%;
    height: 400px;
    background-color: coral;
    /* float: left; */
    display: inline-block;
}
.footer{
    /* clear: both; */
    width: 100%;
    height: 100px;
    background-color: gray;
}

.main-background {
    padding: 1px;
    width: 100%;
    height: 500px;
    background-image: url(../css/img/shoes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(70%);
    text-align: center;
    position: relative;
}
.main-title{
    margin: 50px;
    
    font-size: 40px;
    color: white;
}

.main-content{
    font-size: 20px;
    color: white;    
    width: 500px;
    margin: auto;
}
.main-button{
    padding: 15px;
    background-color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 150px;
    bottom: 110px;
    
}

.explain-box{
    background-color: gainsboro;
    text-align: center;
    width: 80%;
    max-width: 600px;
    position: relative;
    left: 0;
    right: 0;
    padding: 20px;
    padding-top: 1px;
    margin: auto;
    top: -40px;
}

.form-background{
    background-color: black;
    padding: 30px;
}

.form-background p{
    margin-bottom: 5px;
}

.form-white{
    background-color: white;
    padding: 30px;
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.form-input{
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;

}

.w-100{
    padding: 10px;
    width: 100%;
}
.w-50{
    width: 50%;
    float: left;
    padding: 10px;
}

.form-textarea{
    
    width: 100%;
    resize: none;
}
.yellow-button{
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: 10px;
}

/* .table{
    border-collapse: collapse;
} */

.cart-background{
    background-color: rgb(186, 226, 243);
    width: 100%;
    padding: 50px;
    margin: auto;

}

.cart-table{
    background-color: white;
    border-collapse: collapse;
    width: 100%;
    max-width: 700px;
    border-radius: 10px;    
}
.cart-table tr, .cart-table th,.cart-table td{
    border: 1px solid rgb(186, 226, 243);
    border-left: none;
    border-right: none;
    padding: 10px;
}

.cart-table img{ 
    display: inline-block;       
    width: 100px;
    margin: 15px;
    
}
.cart-table p{
    display: inline-block;    
    vertical-align: middle;    
    
}

.cart-table :nth-child(2){
    width: 300px;
}
.cart-table :nth-child(1){
    width: 100px;
}
.cart-footer{
    width: 100%;
}
.cart-footer .btn{
    background-color: coral;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: 0;
    cursor: pointer;
}

.cart-footer .btn:hover{
    background-color: chocolate;
}

.cart-footer .btn:focus{
    background-color: grey;
}

.cart-footer .btn:active{
    background-color: brown;
}